.paginator {
  width: 100%;
  margin: 100px 0;
}
.paginator-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
