.dots-wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 80px;
}
.dot {
  width: 20px;
  height: 20px;
  background-color: var(--middle-grey);
  border-radius: 50%;
}
.dot.blue {
  background-color: var(--main-color);
}
.dot:not(:last-child) {
  margin-right: 20px;
}
