button {
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--main-color);
  color: var(--black);
  border: none;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
  outline: 1px solid transparent;
  transition: all 0.2s;
}
button:active {
  transform: scale(0.9);
}
