.container {
  padding: 50px;
  background-color: var(--light-grey);
}
.episode-header {
  margin-bottom: 20px;
}
.divider {
  height: 80px;
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-line {
  width: 100px;
  height: 2px;
  background-color: var(--middle-grey);
}

/* .skeleton-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 20px;
} */
