.card-wapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 20px;
}
.card-image {
  width: 160px;
  height: 160px;
  border: 5px solid var(--main-color);
}
.skeleton {
  width: 160px;
  height: 160px;
  background-image: linear-gradient(
    90deg,
    #c7c7c7 0px,
    #f0eeee 80px,
    var(--middle-grey) 160px
  );
  animation: skeleton 1.5s linear infinite;
}

@media (max-width: 460px) {
  .card-image {
    margin: auto;
  }
}

@keyframes skeleton {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 160px;
  }
}
