:root {
  --black: #000000;
  --main-color: #b4def4;
  --light-grey: #f0f0f0;
  --middle-grey: #c8c7c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.title {
  margin-bottom: 5px;
  color: var(--black);
  font-size: 22px;
}
.subtitle {
  margin-bottom: 5px;
  color: var(--middle-grey);
  font-weight: 600;
}
